h1{
   font-size: 50px;
   text-shadow: 3px 2px black;
   font-style: italic;
   font-family: Arial Rounded MT;
    color:  green;
    text-align: center
    
}
body{
   background-size: 1800px 1500px;
   background-repeat: no-repeat;
    background-image: url(pic.jpg);
   
}
footer{
    background-color:black;
   
}